.App {
  text-align: center;
  margin: auto;
}

select {
  appearance: none;
  margin-left: 1rem;
  margin-top: 1rem;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: #5c6664;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25rem;
}

select {
  flex: 1;
  padding: 0.5em;
  color: #fff;
  cursor: pointer;
}
